<%- include("partials/header"); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">

  <div class="form-group">
    <div class="">

      <label for="postTitle">Title</label>
    </div>
    <div class="">
      <input class="form-control" type="text" name="postTitle"  value="">
    </div>

    <div class=""> <label for="postBody">Post</label>
    </div>
    <div class="">
      <textarea class="form-control"  name="postBody" rows="5" cols="30"></textarea>
    </div>

  </div>
  <div class="">
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
  </div>
</form>


<%- include("partials/footer"); -%>
